<table>
  <td>
    <app-info-card header="Currently Managing" title="4.231" subTitle="Identities" icon="person" color="yellow"></app-info-card>
  </td>
  <td>
    <app-info-card header="In the last 30 days" title="150" subTitle="Repairs" icon="build" color="blue"></app-info-card>
  </td>
  <td>
      <app-info-card header="Currently pending" title="11" subTitle="Requests" icon="swap_horiz" color="green"></app-info-card>
    </td>
    <td>
      <app-info-card header="In the last 24 hours" title="98" subTitle="Failed" icon="error_outline" color="red"></app-info-card>
    </td>
  <td>
    <app-info-card header="In the last 24 hours" title="57" subTitle="Tasks" icon="vpn_key" color="yellow"></app-info-card>
  </td>
</table>
