.mat-card {
    width: 220px;
}

.mat-card span {
    margin: -6px;
}

.blue {
    background-color: #333399;
}

.red {
    background-color: #FF0066;
}

.green {
    background-color: #339933;
}

.yellow {
    background-color: #FF9900;
}

.header-yellow,
.subtitle-yellow,
.subtitle-green {
    color: rgba(0,0,0,.54);
}

.header-blue {
    color: #b0b0b0
}

.subtitle-blue {
    color: rgba(255,255,255,.4);
}

.header-green {
    color: rgba(255,255,255,.87);
}

.mat-card-header-text {
    margin-left: 0;
}

.header {
    color: rgba(0,0,0,.7);
}

.title {
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 0px;
}

mat-card-footer p {
    margin-left: 16px;
    color: rgba(255,255,255,.4);
}

.material-icons.md-100 {
    font-size: 100px !important;
    height: 100px !important;
    width: 100px !important;
    color: rgba(0,0,0,.24);
}
